    body {
        margin:0;
        padding:0;
        min-height: 100%; 
        height: 100%;
    }
    .clearfix::after { 
        content: ''; 
        display: block; 
        clear: both;
    }

    /** header **/
    .header { 
        clear: left;
        height: 100px;
        width: 400px;
        background-color: #141f40;
    }

    /** left **/
    .left { 
        float: left;
        width: 150px;
        height: 250px;
        background-color: #80bfa8;
    }

    .right { 
        float: left;
        width: 250px;
        height: 250px;
        background-color: #8c2727;
    }
    
    /** footer **/
    .footer {
        float: left;
        height: 100px;
        width: 400px;
        background-color: #d98d30;
    }
    
    #borderbox p{
        box-sizing: border-box;
        width: 160px;
        height: 60px;
        background:white;
        position: absolute;
        left: 200px;
        top :0;
    }

    #borderbox1 p{
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        background:#a9004b;
        left: 215px;
        top : -15px;
        position: relative;
    }
    #borderbox2 p{
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        background:#a9004b;
        left: 260px;
        top : -71px;
        position: relative;
    }
    #borderbox3 p{
        box-sizing: border-box;
        width: 40px;
        height: 40px;
        background:#a9004b;
        left: 305px;
        top : -127px;
        position: relative;
    }

    #borderbox4 p{
        box-sizing: border-box;
        width: 100px;
        height: 50px;
        background:#ff863f;
        position: absolute;
        left : 190px;
        top :140px;

    }    

/*ウィンドウ幅が最大479pxまでの場合に適用(スマホ用)*/
@media screen and (max-width: 479px) {
   /** header **/
   .header { 
    clear: none;
    height: 100px;
    width: 200px;
    background-color: #141f40;
}

/** left **/
.left { 
    float: none;
    width: 200px;
    height: 250px;
    background-color: #80bfa8;
}

.right { 
    float: none;
    width: 200px;
    height: 50px;
    background-color: #dbd400;
}

/** footer **/
.footer {
    float: none;
    height: 100px;
    width: 200px;
    background-color: #d98d30;
    }
}
